#form{
    width: 500px;
    margin: 0 auto;
    background: rgb(235, 235, 235);
    border-radius: 8px;
    padding: 30px;
    margin-top: 50px;
}
#form h3{
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}
#form label{
    font-size: 16px;
    display: block;
    padding: 15px 0 5px;
}
#form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: 1px solid rgb(163, 163, 163);
}
#form button{
    margin: 15px 0 0;
    text-align: center;
    padding: 12px 25px;
    border-radius: 6px;
    border: 1px solid rgb(163, 163, 163);
    cursor: pointer;
    text-transform: uppercase;

}
#form button:hover{
    border: 1px solid rgb(200, 140, 140);
    background-color: rgb(90, 99, 99);
    color: white;
}